
<div class="jumbotron">
    <h1>Json Placeholder </h1>
    <p>A small app that test fake endpoints from <a href="https://jsonplaceholder.typicode.com/">Json Placeholder</a></p>
  
</div>
<h3>Endpoints</h3>
<ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a routerLink="/getposts">Get Posts</a></li>
</ul>