<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
        <div class="container">
                <ul class="nav navbar-nav navbar-left">
                        <li><a href="/">Home</a></li>
                </ul>
        </div>
</nav>
<div class="body">
<router-outlet></router-outlet>
</div>