<h2>Posts Endpoint</h2>
<p>Please test the following 4 verbs</p>
<div class="container">
  <div class="row">
    <div class="col-sm-3"><a class="btn btn-large btn-default" (click)="get()">GET</a></div>
    <div class="col-sm-3"><a class="btn btn-large btn-default" (click)="post()">POST</a></div>
    <div class="col-sm-3"><a class="btn btn-large btn-default" (click)="put()">PUT</a></div>
    <div class="col-sm-3"><a class="btn btn-large btn-default" (click)="delete()">DELETE</a></div>
  </div>
</div>
<br/>

<div *ngFor="let post of posts" class="media">
  <div>
      <div class="media-body">
        <h4 class="media-heading">{{post.title}}</h4>
        <p>{{post.title}}</p>
      </div>
    </div>
</div>

<div *ngIf="message">
  {{message}}
</div>

<div *ngIf="id">
  Id: {{id.id}}
</div>
